@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1 class="display-4">Welcome</h1>
            <p>Welcome to the home of everything movies! Joes "The baconsale" Hilton is world-famous in his movie collection. Checkout his podcast
            and movie collection.</p>
        </div>
        <div class="col-sm">
            <img src="~/img/project pic.jpg" />
        </div>
    </div>
</div>
<div>
</div>
