@{
    ViewData["Title"] = "Movie Collection";
}

@model Assignment_4_Movies.Models.MovieModel;

<div>
    <h1>@ViewData["Title"]</h1>
    <br />

    <div class="container">
        <form method="post" display="inline-block">


            <label asp-for="category">Category: </label>
            <input asp-for="category" type="text" />
            <br />

            <label asp-for="title">Title: </label>
            <input asp-for="title" type="text" />
            <br />

            <label asp-for="year">Year: </label>
            <input asp-for="year" type="number" min="1900" max="2025" />
            <br />

            <label asp-for="director">Director: </label>
            <input asp-for="director" type="text" />
            <br />


            <label asp-for="rating">Rating: </label>
            <select asp-for="rating">
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG-13">PG-13</option>
                <option value="R">R</option>
            </select>
            <br />

            <label asp-for="edited">Edited: </label>
            <select asp-for="edited">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
            <br />

            <label asp-for="lent_to">Lent to: </label>
            <input asp-for="lent_to" type="text" />
            <br />

            <label asp-for="notes">Notes: </label>
            <input asp-for="notes" type="text" />
            <br />

            <button action="submit">Submit</button>
            <br />
            <div  class="font-weight-bold alert-warning" style="font-family:'Baskerville Old Face'; " asp-validation-summary="All"></div>
        </form>
    </div>
</div>
