@{
    ViewData["Title"] = "Podcasts";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col">
        <p>This is a sample of what the baconsale website would be like something like this. I wanted to practice my flex box skills. All the links below are live and connect with the baconsale site.</p>
    </div>
    <div class="col">
        <a style=" background-color: #f44336; color: white; padding: 14px 25px; text-align: center; text-decoration: none; display: inline-block;" href="https://baconsale.com/">Baconsale Podcasts</a>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="column">
            <article id="post-3055" class="post-3055 post type-post status-publish format-standard has-post-thumbnail hentry category-podcast tag-cheetos tag-cheetos-crunchy-cheddar-jalapeno tag-cheetos-puffs tag-chips tag-corn-chips tag-doritos-cool-ranch tag-doritos-salsa-verde tag-doritos-taco-flavored tag-fritos-chili-cheese tag-kettle-brand-jalapeno tag-lays-baked-bbq tag-lays-baked-original tag-lays-salt-vinegar tag-miss-vickies-sea-salt tag-potato-chips tag-pringles tag-pringles-pizza tag-pringles-sour-cream-onion tag-ranking tag-ruffles-cheddar-sour-cream tag-ruffles-jalapeno-ranch tag-ruffles-sour-cream-onion tag-sun-chips-french-onion tag-tgi-fridays-cheddar-bacon-potato-skins tag-tier tag-tortilla-chips tag-tostitos color-done color-3 post-loaded" style="opacity: 1;">
                <div class="entry-thumbnail">
                    <img width="750" height="750" src="https://baconsale.files.wordpress.com/2022/01/chiptiering2.jpg?w=750&amp;h=750&amp;crop=1" class="attachment-boardwalk-featured-image size-boardwalk-featured-image wp-post-image" alt="" loading="lazy" srcset="https://baconsale.files.wordpress.com/2022/01/chiptiering2.jpg 750w, https://baconsale.files.wordpress.com/2022/01/chiptiering2.jpg?w=150&amp;h=150&amp;crop=1 150w, https://baconsale.files.wordpress.com/2022/01/chiptiering2.jpg?w=300&amp;h=300&amp;crop=1 300w" sizes="(max-width: 750px) 100vw, 750px" data-attachment-id="3059" data-permalink="https://baconsale.com/2022/01/24/baconsale-episode-336-it-aint-easy-tiering-cheesy/chiptiering2/" data-orig-file="https://baconsale.files.wordpress.com/2022/01/chiptiering2.jpg" data-orig-size="750,750" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}" data-image-title="ChipTiering2" data-image-description="" data-image-caption="" data-medium-file="https://baconsale.files.wordpress.com/2022/01/chiptiering2.jpg?w=300" data-large-file="https://baconsale.files.wordpress.com/2022/01/chiptiering2.jpg?w=750">
                </div><!-- .entry-thumbnail -->

                <header class="entry-header">
                    <div class="entry-meta">
                        <span class="posted-on"><a href="https://baconsale.com/2022/01/24/baconsale-episode-336-it-aint-easy-tiering-cheesy/" rel="bookmark"><time class="entry-date published" datetime="2022-01-24T00:01:00-07:00">January 24, 2022</time><time class="updated" datetime="2022-01-24T00:17:31-07:00">January 24, 2022</time></a></span>
                    </div><!-- .entry-meta -->
                    <h1 class="entry-title"><a href="https://baconsale.com/2022/01/24/baconsale-episode-336-it-aint-easy-tiering-cheesy/" rel="bookmark">Baconsale Episode 336: It Ain’t Easy Tiering Cheesy</a></h1>
                </header><!-- .entry-header -->


                <a href="https://baconsale.com/2022/01/24/baconsale-episode-336-it-aint-easy-tiering-cheesy/" class="entry-link"><span class="screen-reader-text">Continue reading <span class="meta-nav">→</span></span></a>
            </article><!-- #post-## -->
        </div>

        <div class="column">
            <article id="post-3048" class="post-3048 post type-post status-publish format-standard has-post-thumbnail hentry category-podcast tag-996330 tag-andrew-garfield tag-ariana-grande tag-avatar-2 tag-black-adam tag-categories tag-death-on-the-nile tag-doctor-strange-in-the-multiverse-of-madness tag-future tag-jason-momoa tag-michael-caine tag-minions-the-rise-of-gru tag-mission-impossible-7 tag-nba-finals tag-paul-rudd tag-predictions tag-sarah-michelle-gellar tag-sexiest-man-alive tag-spider-man tag-spider-man-across-the-spider-verse tag-super-bowl tag-ted-lasso tag-the-batman tag-the-flash tag-the-secrets-of-dumbledore tag-thor-love-and-thunder tag-uncharted tag-variants tag-will-smith tag-world-series color-done color-1 post-loaded" style="opacity: 1;">
                <div class="entry-thumbnail">
                    <img width="750" height="750" src="https://baconsale.files.wordpress.com/2022/01/2022predictionparade.jpg?w=750&amp;h=750&amp;crop=1" class="attachment-boardwalk-featured-image size-boardwalk-featured-image wp-post-image" alt="" loading="lazy" srcset="https://baconsale.files.wordpress.com/2022/01/2022predictionparade.jpg 750w, https://baconsale.files.wordpress.com/2022/01/2022predictionparade.jpg?w=150&amp;h=150&amp;crop=1 150w, https://baconsale.files.wordpress.com/2022/01/2022predictionparade.jpg?w=300&amp;h=300&amp;crop=1 300w" sizes="(max-width: 750px) 100vw, 750px" data-attachment-id="3051" data-permalink="https://baconsale.com/2022/01/17/baconsale-episode-335-2022-prediction-parade/2022predictionparade/" data-orig-file="https://baconsale.files.wordpress.com/2022/01/2022predictionparade.jpg" data-orig-size="750,750" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}" data-image-title="2022PredictionParade" data-image-description="" data-image-caption="" data-medium-file="https://baconsale.files.wordpress.com/2022/01/2022predictionparade.jpg?w=300" data-large-file="https://baconsale.files.wordpress.com/2022/01/2022predictionparade.jpg?w=750">
                </div><!-- .entry-thumbnail -->

                <header class="entry-header">
                    <div class="entry-meta">
                        <span class="posted-on"><a href="https://baconsale.com/2022/01/17/baconsale-episode-335-2022-prediction-parade/" rel="bookmark"><time class="entry-date published" datetime="2022-01-17T00:01:00-07:00">January 17, 2022</time><time class="updated" datetime="2022-01-17T08:14:06-07:00">January 17, 2022</time></a></span>
                    </div><!-- .entry-meta -->
                    <h1 class="entry-title"><a href="https://baconsale.com/2022/01/17/baconsale-episode-335-2022-prediction-parade/" rel="bookmark">Baconsale Episode 335: 2022 Prediction Parade</a></h1>
                </header><!-- .entry-header -->

                <a href="https://baconsale.com/2022/01/17/baconsale-episode-335-2022-prediction-parade/" class="entry-link"><span class="screen-reader-text">Continue reading <span class="meta-nav">→</span></span></a>
            </article><!-- #post-## -->
        </div>

        <div class="column">
            <article id="post-3043" class="post-3043 post type-post status-publish format-standard has-post-thumbnail hentry category-podcast tag-173981 tag-ben tag-best tag-bo-burnham-inside tag-bottom-five tag-cinderella tag-coda tag-cryptozoo tag-easy-rider tag-film tag-grown-ups-2 tag-halloween-ii tag-halloween-iii-season-of-the-witch tag-his-house tag-home-sweet-home-alone tag-karen tag-list tag-movie tag-no-way-to-die tag-palm-springs tag-sound-of-metal tag-spider-man-no-way-home tag-stagecoach tag-the-shawshank-redemption tag-top-five tag-west-side-story tag-worst tag-zack-snyders-justice-league color-done color-4 post-loaded" style="opacity: 1;">
                <div class="entry-thumbnail">
                    <img width="750" height="750" src="https://baconsale.files.wordpress.com/2022/01/season8premiere.jpg?w=750&amp;h=750&amp;crop=1" class="attachment-boardwalk-featured-image size-boardwalk-featured-image wp-post-image" alt="" loading="lazy" srcset="https://baconsale.files.wordpress.com/2022/01/season8premiere.jpg 750w, https://baconsale.files.wordpress.com/2022/01/season8premiere.jpg?w=150&amp;h=150&amp;crop=1 150w, https://baconsale.files.wordpress.com/2022/01/season8premiere.jpg?w=300&amp;h=300&amp;crop=1 300w" sizes="(max-width: 750px) 100vw, 750px" data-attachment-id="3046" data-permalink="https://baconsale.com/2022/01/10/baconsale-episode-334-best-worst-movies-of-2021-ish/season8premiere/" data-orig-file="https://baconsale.files.wordpress.com/2022/01/season8premiere.jpg" data-orig-size="750,750" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}" data-image-title="Season8Premiere" data-image-description="" data-image-caption="" data-medium-file="https://baconsale.files.wordpress.com/2022/01/season8premiere.jpg?w=300" data-large-file="https://baconsale.files.wordpress.com/2022/01/season8premiere.jpg?w=750">
                </div><!-- .entry-thumbnail -->

                <header class="entry-header">
                    <div class="entry-meta">
                        <span class="posted-on"><a href="https://baconsale.com/2022/01/10/baconsale-episode-334-best-worst-movies-of-2021-ish/" rel="bookmark"><time class="entry-date published" datetime="2022-01-10T00:01:00-07:00">January 10, 2022</time><time class="updated" datetime="2022-01-09T15:55:38-07:00">January 9, 2022</time></a></span>
                    </div><!-- .entry-meta -->
                    <h1 class="entry-title"><a href="https://baconsale.com/2022/01/10/baconsale-episode-334-best-worst-movies-of-2021-ish/" rel="bookmark">Baconsale Episode 334: Best &amp; Worst Movies of 2021-ish</a></h1>
                </header><!-- .entry-header -->

                <a href="https://baconsale.com/2022/01/10/baconsale-episode-334-best-worst-movies-of-2021-ish/" class="entry-link"><span class="screen-reader-text">Continue reading <span class="meta-nav">→</span></span></a>
            </article><!-- #post-## -->
        </div>
    </div>

    <div class="row">
        <div class="column">
            <article id="post-3036" class="post-3036 post type-post status-publish format-standard has-post-thumbnail hentry category-podcast tag-baconsale-2 tag-baconsalia tag-baconverse tag-behind-the-scenes tag-brain-trust tag-categories tag-disney-songs tag-finale tag-guests tag-haunts tag-james-bond tag-joel tag-kent tag-multiverse tag-muppets tag-queen tag-recap tag-season-finale tag-season-seven tag-singing tag-twinner-winner tag-zack color-done color-5 post-loaded" style="opacity: 1;">
                <div class="entry-thumbnail">
                    <img width="700" height="700" src="https://baconsale.files.wordpress.com/2021/12/season7finale.jpg?w=700&amp;h=700&amp;crop=1" class="attachment-boardwalk-featured-image size-boardwalk-featured-image wp-post-image" alt="" loading="lazy" srcset="https://baconsale.files.wordpress.com/2021/12/season7finale.jpg 700w, https://baconsale.files.wordpress.com/2021/12/season7finale.jpg?w=150&amp;h=150&amp;crop=1 150w, https://baconsale.files.wordpress.com/2021/12/season7finale.jpg?w=300&amp;h=300&amp;crop=1 300w" sizes="(max-width: 700px) 100vw, 700px" data-attachment-id="3039" data-permalink="https://baconsale.com/2021/12/13/baconsale-episode-333-stairway-to-season-seven/season7finale/" data-orig-file="https://baconsale.files.wordpress.com/2021/12/season7finale.jpg" data-orig-size="700,700" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}" data-image-title="Season7Finale" data-image-description="" data-image-caption="" data-medium-file="https://baconsale.files.wordpress.com/2021/12/season7finale.jpg?w=300" data-large-file="https://baconsale.files.wordpress.com/2021/12/season7finale.jpg?w=700">
                </div><!-- .entry-thumbnail -->

                <header class="entry-header">
                    <div class="entry-meta">
                        <span class="posted-on"><a href="https://baconsale.com/2021/12/13/baconsale-episode-333-stairway-to-season-seven/" rel="bookmark"><time class="entry-date published" datetime="2021-12-13T00:01:00-07:00">December 13, 2021</time><time class="updated" datetime="2021-12-13T09:24:03-07:00">December 13, 2021</time></a></span>
                    </div><!-- .entry-meta -->
                    <h1 class="entry-title"><a href="https://baconsale.com/2021/12/13/baconsale-episode-333-stairway-to-season-seven/" rel="bookmark">Baconsale Episode 333: Stairway to Season Seven</a></h1>
                </header><!-- .entry-header -->

                <a href="https://baconsale.com/2021/12/13/baconsale-episode-333-stairway-to-season-seven/" class="entry-link"><span class="screen-reader-text">Continue reading <span class="meta-nav">→</span></span></a>
            </article><!-- #post-## -->
        </div>

        <div class="column">
            <article id="post-3031" class="post-3031 post type-post status-publish format-standard has-post-thumbnail hentry category-podcast tag-butter-cookie tag-butter-mint tag-candied-almonds tag-candy tag-candy-cane tag-chocolate tag-chocolate-orange tag-chocolate-pretzel-rods tag-christmas tag-divinity-candy tag-eggnog tag-ferrero-rocher tag-fruitcake tag-fudge tag-gingerbread tag-gingersnaps tag-hard-candy tag-holiday tag-hot-chocolate tag-lindor-truffle tag-orange-sticks tag-peanut-brittle tag-peppermint-bark tag-popcorn-tin tag-ranking tag-spice-drops tag-sugar-cookie tag-tier tag-treat tag-wassail color-done color-2 post-loaded" style="opacity: 1;">
                <div class="entry-thumbnail">
                    <img width="750" height="750" src="https://baconsale.files.wordpress.com/2021/12/christmastreats.jpg?w=750&amp;h=750&amp;crop=1" class="attachment-boardwalk-featured-image size-boardwalk-featured-image wp-post-image" alt="" loading="lazy" srcset="https://baconsale.files.wordpress.com/2021/12/christmastreats.jpg 750w, https://baconsale.files.wordpress.com/2021/12/christmastreats.jpg?w=150&amp;h=150&amp;crop=1 150w, https://baconsale.files.wordpress.com/2021/12/christmastreats.jpg?w=300&amp;h=300&amp;crop=1 300w" sizes="(max-width: 750px) 100vw, 750px" data-attachment-id="3034" data-permalink="https://baconsale.com/2021/12/06/baconsale-episode-332-the-most-wonderful-treats-of-the-year/christmastreats/" data-orig-file="https://baconsale.files.wordpress.com/2021/12/christmastreats.jpg" data-orig-size="750,750" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}" data-image-title="ChristmasTreats" data-image-description="" data-image-caption="" data-medium-file="https://baconsale.files.wordpress.com/2021/12/christmastreats.jpg?w=300" data-large-file="https://baconsale.files.wordpress.com/2021/12/christmastreats.jpg?w=750">
                </div><!-- .entry-thumbnail -->

                <header class="entry-header">
                    <div class="entry-meta">
                        <span class="posted-on"><a href="https://baconsale.com/2021/12/06/baconsale-episode-332-the-most-wonderful-treats-of-the-year/" rel="bookmark"><time class="entry-date published" datetime="2021-12-06T00:01:00-07:00">December 6, 2021</time><time class="updated" datetime="2021-12-05T20:36:54-07:00">December 5, 2021</time></a></span>
                    </div><!-- .entry-meta -->
                    <h1 class="entry-title"><a href="https://baconsale.com/2021/12/06/baconsale-episode-332-the-most-wonderful-treats-of-the-year/" rel="bookmark">Baconsale Episode 332: The Most Wonderful Treats of the Year</a></h1>
                </header><!-- .entry-header -->

                <a href="https://baconsale.com/2021/12/06/baconsale-episode-332-the-most-wonderful-treats-of-the-year/" class="entry-link"><span class="screen-reader-text">Continue reading <span class="meta-nav">→</span></span></a>
            </article><!-- #post-## -->
        </div>

        <div class="column">
            <article id="post-3024" class="post-3024 post type-post status-publish format-standard has-post-thumbnail hentry category-podcast tag-arrow tag-backpack tag-bread tag-choose-your-own-adventure tag-cliff tag-cornucopia tag-dice tag-duck tag-dungeon-master tag-game tag-guest tag-honey tag-hunger-games tag-joel tag-kent tag-lindsey-stirling tag-mace tag-mats tag-rapier tag-roll tag-trident tag-weapon tag-wives tag-zack color-done color-2 post-loaded" style="opacity: 1;">
                <div class="entry-thumbnail">
                    <img width="750" height="750" src="https://baconsale.files.wordpress.com/2021/11/hungergames.jpg?w=750&amp;h=750&amp;crop=1" class="attachment-boardwalk-featured-image size-boardwalk-featured-image wp-post-image" alt="" loading="lazy" srcset="https://baconsale.files.wordpress.com/2021/11/hungergames.jpg 750w, https://baconsale.files.wordpress.com/2021/11/hungergames.jpg?w=150&amp;h=150&amp;crop=1 150w, https://baconsale.files.wordpress.com/2021/11/hungergames.jpg?w=300&amp;h=300&amp;crop=1 300w" sizes="(max-width: 750px) 100vw, 750px" data-attachment-id="3029" data-permalink="https://baconsale.com/2021/11/29/baconsale-episode-331-choose-your-own-hunger-games/hungergames/" data-orig-file="https://baconsale.files.wordpress.com/2021/11/hungergames.jpg" data-orig-size="750,750" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}" data-image-title="HungerGames" data-image-description="" data-image-caption="" data-medium-file="https://baconsale.files.wordpress.com/2021/11/hungergames.jpg?w=300" data-large-file="https://baconsale.files.wordpress.com/2021/11/hungergames.jpg?w=750">
                </div><!-- .entry-thumbnail -->

                <header class="entry-header">
                    <div class="entry-meta">
                        <span class="posted-on"><a href="https://baconsale.com/2021/11/29/baconsale-episode-331-choose-your-own-hunger-games/" rel="bookmark"><time class="entry-date published" datetime="2021-11-29T00:01:00-07:00">November 29, 2021</time><time class="updated" datetime="2021-11-28T21:11:24-07:00">November 28, 2021</time></a></span>
                    </div><!-- .entry-meta -->
                    <h1 class="entry-title"><a href="https://baconsale.com/2021/11/29/baconsale-episode-331-choose-your-own-hunger-games/" rel="bookmark">Baconsale Episode 331: Choose Your Own Hunger Games</a></h1>
                </header><!-- .entry-header -->

                <a href="https://baconsale.com/2021/11/29/baconsale-episode-331-choose-your-own-hunger-games/" class="entry-link"><span class="screen-reader-text">Continue reading <span class="meta-nav">→</span></span></a>
            </article><!-- #post-## -->
        </div>
    </div>

    <div class="row">
        <div class="column">
            <article id="post-3021" class="post-3021 post type-post status-publish format-standard has-post-thumbnail hentry category-podcast tag-annie-potts tag-baconbit tag-bill-murray tag-carrie-coon tag-dan-aykroyd tag-ecto-1 tag-egon-spengler tag-ernie-hudson tag-film tag-finn-wolfhard tag-ghostbusters tag-ghostbusters-afterlife tag-gozer tag-harold-ramis tag-ivo-shandor tag-jason-reitman tag-mckenna-grace tag-movie tag-muncher tag-oklahoma-2 tag-paul-rudd tag-peter-venkman tag-podcast-2 tag-ray-stantz tag-review tag-sequel tag-sigourney-weaver tag-vinz-clortho tag-winston-zeddemore tag-zuul color-done color-4 post-loaded" style="opacity: 1;">
                <div class="entry-thumbnail">
                    <img width="750" height="750" src="https://baconsale.files.wordpress.com/2021/11/ghostbustersbaconbit.jpg?w=750&amp;h=750&amp;crop=1" class="attachment-boardwalk-featured-image size-boardwalk-featured-image wp-post-image" alt="" loading="lazy" srcset="https://baconsale.files.wordpress.com/2021/11/ghostbustersbaconbit.jpg 750w, https://baconsale.files.wordpress.com/2021/11/ghostbustersbaconbit.jpg?w=150&amp;h=150&amp;crop=1 150w, https://baconsale.files.wordpress.com/2021/11/ghostbustersbaconbit.jpg?w=300&amp;h=300&amp;crop=1 300w" sizes="(max-width: 750px) 100vw, 750px" data-attachment-id="3027" data-permalink="https://baconsale.com/2021/11/26/baconbit-ghostbusters-afterlife-review/ghostbustersbaconbit/" data-orig-file="https://baconsale.files.wordpress.com/2021/11/ghostbustersbaconbit.jpg" data-orig-size="750,750" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}" data-image-title="GhostbustersBaconbit" data-image-description="" data-image-caption="" data-medium-file="https://baconsale.files.wordpress.com/2021/11/ghostbustersbaconbit.jpg?w=300" data-large-file="https://baconsale.files.wordpress.com/2021/11/ghostbustersbaconbit.jpg?w=750">
                </div><!-- .entry-thumbnail -->

                <header class="entry-header">
                    <div class="entry-meta">
                        <span class="posted-on"><a href="https://baconsale.com/2021/11/26/baconbit-ghostbusters-afterlife-review/" rel="bookmark"><time class="entry-date published" datetime="2021-11-26T00:01:00-07:00">November 26, 2021</time><time class="updated" datetime="2021-11-25T19:18:23-07:00">November 25, 2021</time></a></span>
                    </div><!-- .entry-meta -->
                    <h1 class="entry-title"><a href="https://baconsale.com/2021/11/26/baconbit-ghostbusters-afterlife-review/" rel="bookmark">BaconBit: Ghostbusters: Afterlife Review</a></h1>
                </header><!-- .entry-header -->

                <a href="https://baconsale.com/2021/11/26/baconbit-ghostbusters-afterlife-review/" class="entry-link"><span class="screen-reader-text">Continue reading <span class="meta-nav">→</span></span></a>
            </article><!-- #post-## -->
        </div>

        <div class="column">
            <article id="post-3012" class="post-3012 post type-post status-publish format-standard has-post-thumbnail hentry category-podcast tag-203229 tag-benicio-del-toro tag-casino-royale tag-daniel-craig tag-desmond-llewelyn tag-die-another-day tag-dr-christmas-jones tag-ernst-stavro-blofeld tag-film tag-goldeneye tag-halle-berry tag-ian-fleming tag-james-bond tag-joe-don-baker tag-le-chiffre tag-licence-to-kill tag-madeleine-swann tag-moneypenny tag-movie tag-no-time-to-die tag-pierce-brosnan tag-quantum-of-solace tag-ranking tag-remington-steele tag-skyfall tag-spectre tag-the-living-daylights tag-the-world-is-not-enough tag-tier tag-timothy-dalton tag-tomorrow-never-dies tag-vesper-lynd color-done color-1 post-loaded" style="opacity: 1;">
                <div class="entry-thumbnail">
                    <img width="750" height="750" src="https://baconsale.files.wordpress.com/2021/11/bondpart2.jpg?w=750&amp;h=750&amp;crop=1" class="attachment-boardwalk-featured-image size-boardwalk-featured-image wp-post-image" alt="" loading="lazy" srcset="https://baconsale.files.wordpress.com/2021/11/bondpart2.jpg 750w, https://baconsale.files.wordpress.com/2021/11/bondpart2.jpg?w=150&amp;h=150&amp;crop=1 150w, https://baconsale.files.wordpress.com/2021/11/bondpart2.jpg?w=300&amp;h=300&amp;crop=1 300w" sizes="(max-width: 750px) 100vw, 750px" data-attachment-id="3019" data-permalink="https://baconsale.com/2021/11/22/baconsale-episode-330-bonding-with-james-the-modern-missions/bondpart2/" data-orig-file="https://baconsale.files.wordpress.com/2021/11/bondpart2.jpg" data-orig-size="750,750" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}" data-image-title="BondPart2" data-image-description="" data-image-caption="" data-medium-file="https://baconsale.files.wordpress.com/2021/11/bondpart2.jpg?w=300" data-large-file="https://baconsale.files.wordpress.com/2021/11/bondpart2.jpg?w=750">
                </div><!-- .entry-thumbnail -->

                <header class="entry-header">
                    <div class="entry-meta">
                        <span class="posted-on"><a href="https://baconsale.com/2021/11/22/baconsale-episode-330-bonding-with-james-the-modern-missions/" rel="bookmark"><time class="entry-date published" datetime="2021-11-22T00:01:00-07:00">November 22, 2021</time><time class="updated" datetime="2021-11-21T22:02:35-07:00">November 21, 2021</time></a></span>
                    </div><!-- .entry-meta -->
                    <h1 class="entry-title"><a href="https://baconsale.com/2021/11/22/baconsale-episode-330-bonding-with-james-the-modern-missions/" rel="bookmark">Baconsale Episode 330: Bonding with James (The Modern Missions)</a></h1>
                </header><!-- .entry-header -->

                <a href="https://baconsale.com/2021/11/22/baconsale-episode-330-bonding-with-james-the-modern-missions/" class="entry-link"><span class="screen-reader-text">Continue reading <span class="meta-nav">→</span></span></a>
            </article><!-- #post-## -->
        </div>

        <div class="column">
            <article id="post-3009" class="post-3009 post type-post status-publish format-standard has-post-thumbnail hentry category-podcast tag-203229 tag-a-view-to-a-kill tag-adele tag-all-time-high tag-another-way-to-die tag-baconbit tag-carly-simon tag-die-another-day tag-for-your-eyes-only tag-goldfinger tag-james-bond tag-john-barry tag-live-and-let-die tag-moonraker tag-music tag-no-time-to-die tag-nobody-does-it-better tag-paul-mccartney tag-shirley-bassey tag-skyfall tag-song tag-the-living-daylights tag-the-man-with-the-golden-gun tag-the-world-is-not-enough tag-thunderball tag-tomorrow-never-dies tag-we-have-all-the-time-in-the-world tag-writings-on-the-wall tag-you-know-my-name tag-you-only-live-twice color-done color-3 post-loaded" style="opacity: 1;">
                <div class="entry-thumbnail">
                    <img width="500" height="500" src="https://baconsale.files.wordpress.com/2021/11/bondsongs.jpg?w=500&amp;h=500&amp;crop=1" class="attachment-boardwalk-featured-image size-boardwalk-featured-image wp-post-image" alt="" loading="lazy" srcset="https://baconsale.files.wordpress.com/2021/11/bondsongs.jpg 500w, https://baconsale.files.wordpress.com/2021/11/bondsongs.jpg?w=150&amp;h=150&amp;crop=1 150w, https://baconsale.files.wordpress.com/2021/11/bondsongs.jpg?w=300&amp;h=300&amp;crop=1 300w" sizes="(max-width: 500px) 100vw, 500px" data-attachment-id="3016" data-permalink="https://baconsale.com/2021/11/19/baconbit-for-your-ears-only/bondsongs/" data-orig-file="https://baconsale.files.wordpress.com/2021/11/bondsongs.jpg" data-orig-size="500,500" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}" data-image-title="BondSongs" data-image-description="" data-image-caption="" data-medium-file="https://baconsale.files.wordpress.com/2021/11/bondsongs.jpg?w=300" data-large-file="https://baconsale.files.wordpress.com/2021/11/bondsongs.jpg?w=500">
                </div><!-- .entry-thumbnail -->

                <header class="entry-header">
                    <div class="entry-meta">
                        <span class="posted-on"><a href="https://baconsale.com/2021/11/19/baconbit-for-your-ears-only/" rel="bookmark"><time class="entry-date published" datetime="2021-11-19T00:01:00-07:00">November 19, 2021</time><time class="updated" datetime="2021-11-19T09:37:38-07:00">November 19, 2021</time></a></span>
                    </div><!-- .entry-meta -->
                    <h1 class="entry-title"><a href="https://baconsale.com/2021/11/19/baconbit-for-your-ears-only/" rel="bookmark">BaconBit: For Your Ears Only</a></h1>
                </header><!-- .entry-header -->

                <a href="https://baconsale.com/2021/11/19/baconbit-for-your-ears-only/" class="entry-link"><span class="screen-reader-text">Continue reading <span class="meta-nav">→</span></span></a>
            </article><!-- #post-## -->
        </div>
    </div>
</div>
