@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Assignment_4_Movies.Models.StudentModel;

    <div>
        <h1>We Recieved the Submission for @Model.first_name @Model.last_name</h1>
        <p>Thank you for your submission! Check out our home page to see your record!</p>
    </div>